header {
    background-color: white;
    color: black;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
  }
  
  .logo {
    margin-left: 20px;
    vertical-align: center;
  }
  